<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demeter.persistence.dao.UserDao">
    <resultMap id="user" type="com.demeter.persistent.models.User"/>
    <select id="selectOne" parameterType="map" resultMap="user">
        select * from USER where id = #{id}
    </select>

    <select id="selectUsers" resultMap="user" parameterType="map">
        select * from USER
        <where>
            <if test="parameter != null and parameter.get('age') != null">
                age = #{age}
            </if>
        </where>
    </select>
</mapper>